@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes backgroundMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.bg-intro {
  position: relative;
  background-image: url("/background-hero-section.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  animation: backgroundMove 20s linear infinite;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 2;
  margin-left: 580px;
  --_g: no-repeat radial-gradient(circle closest-side,#ff0202 90%,#f9060600);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
/* استایل‌های برای نمایش پیغام ارور */

.error-popup {
  direction: rtl; /* راست‌چین کردن پاپ‌آپ */
  text-align: right; /* راست‌چین کردن متن */
}

.error-title {
  font-size: 18px; /* اندازه بزرگتر برای عنوان */
  font-weight: bold; /* پررنگ کردن عنوان */
}

.error-text {
  font-size: 14px; /* اندازه کوچکتر برای متن ارور */
  line-height: 1.5; /* فاصله بین خطوط */
}
